<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>All our Flats (<%= @flats.count %>)</h1>. <%= link_to "Add a new flat", 'flats/new', class: "btn btn-primary" %>
    </div>
  </div>

<div class="container">
  <div class="row">
     <% @flats.each do |flat| %>
     <div class="col-sm">
      <div class="flat-card-content">
        <div class="flat-card-title">
          <h3><%= flat.name%></h3>
        </div>
        <p><%= flat.address %></p>
        <div class="flex">
          <div class="flex">
            <i class="fas fa-dollar-sign"></i><%= flat.price_per_night %>
          </div>
          <div class="flex"><i class="fas fa-user-friends"></i> <%= flat.number_of_guests %>
          </div>
        </div>
         <div class="card-actions">
             <%= link_to "More Info", flat_path(flat) %>
          </div>
      </div>
    </div>
     <% end %>
  </div>
</div>

